// 페이지의 레이아웃 영역
.inner {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
}

@include mobileMore {
    .inner {
        padding-left: $spacer-7;
        padding-right: $spacer-7;
    }
}

@include tabletMore {
    .inner {
        width: 100%;
        max-width: calc(1280px + #{$spacer-7 * 2});
        margin: 0 auto;
    }
}

#wrap {
    @include flex-layout($fd: column, $ai: stretch);
    min-height: 100vh;
}

#header-top {
    background: $secondary-5;
    font-size: var(--fz-body-sm);
    .inner {
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
    }
}

#header {
    background: $gray-0;
    border-bottom: 1px solid $gray-40;
    .inner {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .head-etc {
        display: none;
    }
    #logo a {
        display: block;
        width: 13.2rem;
        height: 100%;
        background: url(https://uiux.egovframe.go.kr/resources/img/pattern/layout/head_logo.svg) no-repeat 0 50%;
        background-size: contain;
        text-indent: -9999px;
    }
    .head-top {
        display: flex;
        justify-content: space-between;
        .tool {
            display: flex;
            gap: $spacer-6;
            .btn-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                line-height: 1.5;
                font-size: var(--fz-label-xsm);
                &::before {
                    font-family: 'Line Awesome Free';
                    font-weight: 900;
                    font-size: 2.4rem;
                }
                &.sch {
                    &::before {
                        content: '\f002';
                    }
                }
                &.login {
                    &::before {
                        content: '\f2f6';
                    }
                }
                &.join {
                    display: none;
                    &::before {
                        content: '\f234';
                    }
                }
                &.my {
                    display: none;
                    &::before {
                        content: '\f007';
                    }
                }
                &.all {
                    z-index: 100;
                    &::before {
                        content: '\f0c9';
                    }
                }
            }
            i {
                font-size: 2.7rem;
            }
        }
    }
}
.tablet {
    display: none;
}

.join {
    display: none;
}
@include mobileMore {
    #header .head-top .tool {
        font-size: 1.7rem;
    }
    .tablet {
        display: table-cell;
    }
    .join {
        display: flex;
    }
}
@include tabletMore {
    #header {
        position: sticky;
        top: 0;
        z-index: 1000;
        .inner {
            display: flex;
            flex-direction: column;
            gap: $spacer-4;
        }
    }
}

@include tabletMore {
}

#container {
    flex: 1;
}

#footer {
    padding: 50px 0;
    width: 100%;
    background: #d95;
}

.sing {
    text-align: center;
    width: 100%;
    td {
        border-bottom: 1px solid silver;
        color: black;
        font-size: 1.3rem;
        padding: 8px;
    }
}
.pagebox {
    display: flex;
    justify-content: center;
    a {
        padding: 3px;
    }
    .page {
        padding: 3px;
        font-weight: 600;
    }
}

.inner .serche {
    display: flex;
    align-items: center;
    width: 60rem;
    border-radius: 15px;
    border-left: 0px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    height: 32px;
    font-size: 15px;
    border: 1;
    border-color: aqua;
}
select,
input {
    height: 25px;
    outline: none;
    background-color: rgb(233, 233, 233);
    border: 0;
    border-color: aqua;
    border-right: 1px solid gray;
}
.text {
    width: 100%;
}

button {
    width: 10%;
}

#manu {
    top: 20px;
    display: flex;
    justify-content: center;
    .inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.homem {
    min-height: 70rem;
}
.number {
    font-weight: 800;
}

.f-inner {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background: #d95;
}
.f-body {
    bottom: 0;
    width: 100%;
    height: 8rem;
    background: #d95;
}

.radio {
    display: flex;
    justify-content: center;
}

#serch {
    min-height: 70rem;
}

.mainlogo {
    font-size: 14rem;
}
