// 페이지의 레이아웃 영역

.inner {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
}

@include mobileMore {
    .inner {
        padding-left: $spacer-7;
        padding-right: $spacer-7;
    }
}

@include tabletMore {
    .inner {
        width: 100%;
        max-width: calc(1280px + #{$spacer-7 * 2});
        margin: 0 auto;
    }
}

#wrap {
    @include flex-layout($fd: column, $ai: stretch);
    min-height: 100vh;
}

#header-top {
    background: $secondary-5;
    font-size: var(--fz-body-sm);
    .inner {
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
    }
}

#header {
    font-size: 0.8rem;
    background: $gray-0;
    border-bottom: 1px solid $gray-40;
    .inner {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .head-etc {
        display: none;
    }
    .head-top {
        display: flex;
        justify-content: space-between;
        .tool {
            display: flex;
            gap: $spacer-6;

            .login {
                &::before {
                    content: '\f2f6';
                }
            }
            .join {
                display: none;
                &::before {
                    content: '\f234';
                }
            }
        }
    }
}

.tablet {
    display: none;
}

@include mobileMore {
    #header {
        .head-top .tool {
            font-size: 1rem;
            .tablet {
                display: table-cell;
            }
            .join {
                display: flex;
            }
        }
    }
}
@include tabletMore {
    #header {
        position: sticky;
        top: 0;
        z-index: 1000;
        .inner {
            display: flex;
            flex-direction: column;
            gap: $spacer-4;
        }
    }
}

@include tabletMore {
}

#container {
    flex: 1;
}

#footer {
    width: 100%;
    background: #d95;
}

.sing {
    text-align: center;
    width: 100%;

    td {
        border-bottom: 1px solid silver;
        color: black;
        font-size: 0.8rem;
        padding: 8px;
    }
}
.pagebox {
    display: flex;
    justify-content: center;
    a {
        padding: 3px;
    }
    .page {
        padding: 3px;
        font-weight: 600;
        color: black;
    }
}

.inner .serche {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    border-left: 0px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(233, 233, 233);
    height: 32px;
    font-size: 0.8rem;
    border: 1;
    border-color: aqua;
}
select {
    height: 25px;
    outline: none;
    background-color: rgb(233, 233, 233);
    border: 0;
    border-color: aqua;
    border-right: 1px solid gray;
    font-size: 15px;
}

input {
    height: 25px;
    outline: none;
    background-color: rgb(233, 233, 233);
    border: 0;
    font-size: 20px;
}
.text {
    width: 80%;
}

button {
    font-size: 10px;
    text-shadow: 1px 0px white;
    margin: 10px;
    min-height: 20px;
    height: 5vh;
    min-width: 40px;
    max-width: 120px;
    width: 20vw;
    border: 1px solid black;
    border-radius: 50%/100%;
    background: linear-gradient(0deg, rgb(248, 114, 36) 0%, rgb(255, 176, 58));
    &:hover {
        background: linear-gradient(0deg, rgb(190, 122, 45) 0%, rgb(201, 92, 29));
        color: white;
        border: 1px solid white;
        text-shadow: 1px 0px black;
    }
}

#manu {
    color: white;
    font-size: 0.8rem;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    background-image: url('./../../imgfile/mic.jpg');
    background-size: cover;
    .inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.homem {
    min-height: 10rem;
}
.number {
    font-weight: 800;
}

.f-inner {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: #d95;
}
.f-body {
    display: flex;
    padding: 0.8rem;
    font-size: 0.6rem;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background: #d95;
    a {
        padding: 0.3rem;
    }
}

.radio {
    display: flex;
    justify-content: center;
}

#serch {
    min-height: 30rem;
    background-color: white;
}

.mainlogo {
    font-size: 3rem;
}

.lain {
    display: flex;
}

.main {
    @include flex();
    flex-direction: column;
    min-height: 80vh;
}

.login {
    @include flex();
    flex-direction: column;
    input {
        text-align: center;
        margin-top: 10px;
        width: 60vw;
        max-width: 200px;
        border: 1px solid orange;
    }
}

.joina {
    text-align: center;
    font-size: 1rem;
}

.join {
    font-size: 0.8rem;
    td {
        text-align: right;
        padding-right: 10px;
    }
    input {
        margin-top: 10px;
        width: 50vw;
        max-width: 140px;
        font-size: 0.8rem;
        border: 1px solid orange;
    }
}
